SNAKE_CLASSIFIER:
    trainer:
        min_epochs: 1
        max_epochs: 50
        gradient_clip_val: 0.5
        accumulate_grad_batches: 2
        fast_dev_run: False
        limit_train_batches: 1.0
        limit_val_batches: 1.0
        limit_test_batches: 1.0
        val_check_interval: 1.0
    model:
        model_folder: "snake_classifier_v2"
        lr: 0.0001
        weight_decay: 0.000001
        output_size: 35
        lin1_size: 1024
        lin2_size: 512
    dataset:
        datamodule_folder: "snake_classification_datamodule"
        batch_size: 16
        train_val_split_ratio: 0.85
        num_workers: 1
        pin_memory: False
    callbacks:
#        UnfreezeModelCallback:
#            wait_epochs : 5
        ConfusionMatrixLoggerCallback:
            class_names: ['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34']
        MetricsHeatmapLoggerCallback:
            class_names: ['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34']
    wandb:
        group: "Snake Classifier"
        tags: ["uwu"]
        notes: "Snake classification Data Science Community Hackathon."
    resume_training:
        checkpoint_path: None
        wandb_run_id: None


BERT_CLASSIFIER:
    trainer:
        min_epochs: 1
        max_epochs: 10
        gradient_clip_val: 0.5
        accumulate_grad_batches: 4
        fast_dev_run: False
        limit_train_batches: 1.0
        limit_val_batches: 1.0
        limit_test_batches: 1.0
        val_check_interval: 1.0
    model:
        model_folder: "nlp_classifier"
        lr: 0.0007
        weight_decay: 0.00001
        output_size: 6
        hidden_size: 768
    dataset:
        datamodule_folder: "nlp_datamodule"
        batch_size: 8
        train_val_split_ratio: 0.9
        num_workers: 1
        pin_memory: False
    callbacks:
        ConfusionMatrixLoggerCallback:
            class_names: ['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']
        MetricsHeatmapLoggerCallback:
            class_names: ['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']
    wandb:
        group: "NLP"
    resume_training:
        checkpoint_path: None
        wandb_run_id: None
